<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<header class="navbar">
  <div class="nav-left">
    <button class="menu-btn" (click)="toggleSidebar()">
      <span class="material-icons">menu</span>
    </button>

    <h2 class="logo">MESS <span>NOVA</span></h2>
  </div>

  <!-- Home page / Login -->
  <div class="nav-right" *ngIf="showAuthButtons">
    <button class="login-btn" routerLink="/login">Login</button>
    <button class="signup-btn" routerLink="/signup">Sign Up</button>
  </div>
</header>

<div class="sidebar" [class.active]="isSidebarOpen">
  <a routerLink="/" class="nav-link" (click)="closeSidebar()">
    <span class="material-icons">home</span>
    Home
  </a>

  <a routerLink="/about" class="nav-link" (click)="closeSidebar()">
    <span class="material-icons">info</span>
    About
  </a>

  <a routerLink="/contact" class="nav-link" (click)="closeSidebar()">
    <span class="material-icons">mail</span>
    Contact
  </a>
</div>

<div *ngIf="isSidebarOpen" class="overlay" (click)="closeSidebar()"></div>
