/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: #06251b;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}
